.welcome-message{
  background-color: rgb(80, 243, 80);
  text-align: center;
  padding: 10px;
  max-width: 250px;
  margin: auto;
  border-radius: 10px;
  color: rgb(227, 227, 227);
}

.login-prompts{
  background-color: rgb(243, 80, 80);
  text-align: center;
  padding: 10px;
  max-width: 300px;
  margin: auto;
  border-radius: 10px;
  color: rgb(217, 216, 216);
}