.item-title{
  text-align: center;
  width: 500px;
  background-color: rgb(110, 225, 122);
  border-radius: 20px;
  padding: 5px;
  color: rgb(52, 53, 54);
  margin: auto;
  border: 2px solid black;
}

.item-list{
  text-align: center;
  list-style-type: none;
  font-size: 1.5em;
}